html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-size: 1.6rem;
  background-color: #E5E5E5;
  font-family: 'Inter', sans-serif;
  margin: 0;
}
p{
  margin: 0;
}
svg{
  width: 0;
  height: 0;
}
@media(min-width:1440px){
  svg{
      width: auto;
      height: auto;
  }
}
.container{
  padding: 1.6rem;
}
@media(min-width:768px){
  .container{
      padding: 4rem;
  }
}
@media(min-width:1440px){
  .contenido-principal{
      display: grid;
      grid-template-columns:24rem 1fr 40rem;
  }
}

/*Logo*/
.logo img{
  width: 3.2rem;
  height: 4.8rem;
  
}

.principal__textarea{
  background-color: inherit;
  border: none;
  resize: none;
  display: block;
  font-family: 'Inter', sans-serif;
  padding: 0;
  padding-top: 5.6rem;
  font-size: 3.2rem;
  color: #0A3871;
  margin-bottom: 10.7rem;
  width: 100%;

}

@media(min-width:768px){
  .principal__textarea{
      margin-bottom: 15rem;
  }
}
@media(min-width:1440px){
  .principal__textarea{
      margin-bottom: 45rem;
  }
}
.principal__textarea:focus{
  outline: none;
}

.principal__textarea::placeholder{
  font-size: 3.2rem;
  color: #0A3871;
}

.principal__instrucciones{
  font-size: 1.2rem;
  color: #495057;
  margin-bottom: 1.6rem;
}

.boton{
  
  background-color: inherit;
  text-align: center;
  padding: 2.4rem;
  border: 1px solid #0A3871;
  border-radius: 2.4rem;
  color: #0A3871;
  margin-bottom: 6.4rem;
}
.boton:hover{
  cursor: pointer;
}
.boton:nth-last-child(2){
  margin-bottom: 2.4rem;
  background-color: #0A3871;
  color: #E5E5E5;
}

@media(min-width:1440px){
  .contenedor-botones{
      display: flex;
      gap: 2.4rem;
      
  }

  .boton{
      margin: 0;
      width: 32.8rem;

  }
  .boton:nth-last-child(2){
      margin: 0;
    }
}

.resultado{
  
  background-color: white;
  padding: 3.2rem;
  border-radius: 3.2rem;
  word-break: keep-all;
  
}
@media(min-width:1440px){
  .resultado{
      height: 91vh;
      position: relative;
      
  }
  svg{
      margin-top: 15rem;
      margin-bottom: 3.2rem;
  }
  .boton.boton-copiar{
      position: absolute;
      bottom: 1.5rem;
  }
}


.resultado__titulo{
  text-align: center;
  margin: 0 0 1.6rem 0 ;
  color: #343A40;
}
.resultado__texto{
  text-align: center;
  color: #343A40;

}
.parrafoResultado{
  font-size: 2.4rem;
  color: #495057;
  margin-bottom: 3.2rem;
 
}
.boton.boton-copiar{
  margin: 0;
}

