html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    background-color: #E5E5E5;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
  }

  a{
    text-decoration: none;
  }

  .boton{
    background-color: #0A3871;
    color: white;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    border-radius: 2rem;
  }
  .container{
    max-width: 130rem;
    margin: 0 auto;
  }

  .grid-principal{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    padding: 3rem 3rem 1rem 3rem;
  }

  .texto{
    background-color: white;
    border-radius: 2rem;
    height: 870px;
  }
  /*Header*/
  header{
    text-align: center;
  }
  /*Input*/
  .input{
    padding-top: 10rem;
  }

  .input textarea{
    background-color: #E5E5E5;
    border: none;
    color: #0A3871;
    font-size: 3.2rem;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20rem;
  }

  .input textarea::placeholder{
    color: #0A3871;
    font-size: 3.2rem;
  }

  .input textarea:focus{
    outline: none;
  }
  .input p{
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }
  
  .botones{
    display: flex;
    gap: 3rem;
  }

  .boton-de{
    background-color: inherit;
    border: 1px solid #0A3871;
    color: #0A3871;
  }

  /*Texto-vacio*/

  .texto{
    padding: 2rem;
    position: relative;
  }

  svg{
    margin: 0 auto;
    margin-top: 10rem;
  }

  .titulo-vacio{
    width: 80%;
    text-align: center;
    margin: 2rem auto 1rem auto;
  }

  .texto .boton-copiar{
    display: block;
    text-align: center;
    
    width: 14.8rem;
    position: absolute;
    right: 35%;
    top: 90%;
  }

  .resultado{
    font-size: 2.4rem;
    color: #495057;
    text-align: left;
    margin: 0 auto;
    

  }
